body {
    background-color: hsl(180, 31%, 95%);

    font-family: 'Spartan', sans-serif;
    margin: 30px;

}

.filter {
    display: inline;
    position: relative;
    top: 40px;
    background-color:hsl(180, 52%, 96%) ;
    color: hsl(180, 14%, 20%);

}
.filter:hover,.search:hover , .clear:hover{
    background-color:hsl(180, 14%, 20%) ;
    color: white ;
    cursor: pointer;
}

#new {
    background-color: hsl(180, 8%, 52%);
    color: white;
}

#featured {
    background-color: black;
    color: white;
}

h3 {
    padding: 10px;
    font-weight: 400;
    font-size: 15px;
}

img {
    float: left;
    margin-right: 10px;

}

.first ,.second{
border-radius: 15px;
padding:12px;
}

.company{
    font-weight: 900;
    color:hsl(180, 14%, 20%);
}

.search{
    color: hsl(180, 14%, 20%);
    background-color:hsl(180, 52%, 96%);
    padding:10px ;
    text-decoration: underline;
}
.clear{
    float:right;
    background-color:rgb(114, 177, 206);
    border-radius:15px ;
}



@media screen and (max-width: 767px) { 
img{
    float: none;
    position: relative;
    bottom: 20px;
}
    .filter {
        position: static;
        display:inline-block;
        padding: 20px;
    
    } 
    .first{
        border-bottom:5px solid rgb(175, 174, 160);
    }
   .god{
       margin-bottom: 50px;
   }
   
 }




















.die {
    display: none;
}